
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="/css/style.css">
  <body>
    <h1>Warcraft Treasure Hunt</h1>
    <ul>
      <% for(let i = 0; i < seed.length; i++ ) { %>
        <li>
          <a href="/bounty/<%=seed[i].id%>"> <%= seed[i].name %></a>


          
          <% } %>

         
        </li>
    </ul>
    <a href="/bounty/new">Upload your Image</a>
  </body>
</html>