<!DOCTYPE html>
<%- include ('./partials/header.ejs') %>

<link rel="stylesheet" href="./css/style.css">

<body>

	<h1>Gotta Catch em ALL</h1>

	<h2><%= items.name %></h2>

	<img class ="itemImage" src=<%=items.img%>.jpg>
	
</body>
<footer>
  <%- include ('./partials/footer.ejs') %>
</footer>
</html>
	