<!DOCTYPE html>

<%- include ('./partials/header.ejs') %>

 <body>

     <h1>Warcraft Treasure Hunt</h1>

 </body>


	<h2><%= particularPokemon.name %></h2>

	<img class ="pokemonImage" src=<%=particularPokemon.img%>.jpg>

	</html>
	