<!DOCTYPE html>
<%- include ('./partials/header.ejs') %>

<link rel="stylesheet" href="/css/style.css">
  <body>
    <h1>Prove your Achievement</h1>
    <form action="/bounty/:id" method="POST">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name"/>
      <label for="image">Image</label>
      <input type="text" name="img" placeholder="image URL" id="img" />
      <input type="submit" value="submit">
    </form>


  </body>
    <%- include ('./partials/footer.ejs') %>
</html>