	@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

  body {
  	background-image:url(https://i.imgur.com/Kxf6gFc.jpg);
  	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  	font-family: 'Philosopher', sans-serif;

    color: gray;
   
    text-align: center;
  }
  li{
  	font-size: 30px;
  }
  a{
  	color:#e0c40b;
  }
  .intro{
    color:#f59871;
    text-shadow: 2px 2px #ff0000
  }
  .description{
    color:#f59871;
    text-align: center

  }