	@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

  body {
  	background-image:url(/images/wow.jpeg);
  	background-size: cover;
  	font-family: 'Londrina Outline', cursive;

    color: white;
    background-color:black;
    text-align: center;
  }
  li{
  	font-size: 30px;
  }
  a{
  	color:black;
  }